<div class="container">
  <div class= "row row-col-lg-2 row-col-sm-1 justify-content-center mt-5">
    <a href="https://www.homedepot.com/" target="_blank" rel="noopener noreferrer" class= "col">
    <%= image_tag "hm-offers", Height: 100%>
    </a>
    <a href="https://www.target.com/" target="_blank" rel="noopener noreferrer" class= "col">
    <%= image_tag "deals_target", Height: 100%>
    </a>
  </div>
</div>
