.btt-red-sm {
  color: white !important;
  font-size: small !important;
  background-color: #ec4e20 !important;
  border-radius: 5%;
}

.btt-red-sm:hover {
  background-color: #ff3e04 !important;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
