.card-recipe {
  text-decoration: none;
  color: black;
  width: 12rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
  height: 180px;
}

.star{
  font-size: 20px;
  color: rgb(255, 145, 0);
  display: flex;
}


.average-score {
  display: flex;
  padding-left: 15px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}
.star-rating-back {
  color: #ccc;
}
