.card-recipe {
  width: 12rem;
}

.card-recipe a {
  text-decoration: none!important;
  color: inherit;
}

.card-recipe-2 {
  text-decoration: none;
  color: black;
  width: 12rem;
}

.card-img-top{
  height: 180px;
  object-fit: cover;
}

.star{
  font-size: 20px;
  color: rgb(255, 145, 0);
  display: flex;
}


.average-score {
  display: flex;
  padding-left: 15px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}
.star-rating-back {
  color: #ccc;
}


// Cards grid from UI kit
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  position: sticky;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
