.h-container{
  height: 100vh;
}

.recipe_show_wrapper {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #DCDCDC;
  border-radius: 6px;
}

.fix-space {
  margin-left: 10px;
}

.fix-space-info {
  margin-top: 10px;
  margin-left: 15px;
}
